.weather {
  background-image: url("../src/assets/images/rainny.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: aliceblue;
  height: 100vh;
  padding: 50px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  background-color: rgb(8, 73, 131);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.search-bar input {
  background-color: antiquewhite;
  color: #100000;
  padding: 8px;
  font-size: 1rem;
  font-size: 18px;
  width: 400px;
  border-radius: 10px;
}
.search-bar i {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 25px;
  color: black;
}
.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}
.search-bar i:hover {
  background-color: #baa9c4;
}
